.container{
 background:cyan;
  width:auto;
  height:auto;
  border:solid red;
}
ol{
   width:auto;
  height:auto;
  border:none;
  background:#ccf2ff
}
footer{
  padding:5px;
  width:auto;
  height:auto;
  border:none;
  font-style:italic;
}
